<h1>Admin » Dashboard</h1>

<div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Number of Products</th>
          <th>Number of Categories</th>
        </tr>
      </thead>
      <tbody>
        <td>
          <%= @products_count %>
        </td>
        <td>
          <%= @categories_count %>
        </td>
      </tbody>
    </table>
  </div>

  <%= link_to "Go to Admin Products page", admin_products_path, class: 'btn btn-lg btn-primary' %>